####################################
# PostgreSQL
####################################

POSTGRES_DB=n8n
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password

####################################
# n8n
####################################

N8N_HOST=
N8N_PORT=5678
N8N_PROTOCOL=https

WEBHOOK_URL=

N8N_ENCRYPTION_KEY=replace_with_random_key

GENERIC_TIMEZONE=Asia/Kolkata

####################################
# AI
####################################

GROQ_API_KEY=your_groq_api_key

####################################
# Google OAUTH
####################################

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=